.firstContainer {
  padding: 10px;
}

@media (min-width: 1000px) {
  .firstContainer {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-top: 20px;
  }
}
.container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png);
  background-size: cover;
  padding: 10px;
  border-radius: 06px;
}
@media (min-width: 1000px) {
  .container {
    background-image: url(https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
  }
}
.heading {
  font-family: 'roboto';
  font-size: 12px;
  color: #475569;
}
@media (min-width: 1000px) {
  .heading {
    font-family: 'roboto';
    font-size: 22px;
    color: #475569;
  }
}
.paragraph {
  font-family: 'roboto';
  font-size: 08px;
  font-weight: 600;
}
@media (min-width: 1000px) {
  .paragraph {
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 600;
  }
}
.span {
  color: #0b69ff;
  font-family: 'roboto';
  font-size: 08px;
  font-weight: 600;
}
@media (min-width: 1000px) {
  .span {
    color: #0b69ff;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 600;
  }
}
.MoneyContainer {
  display: flex;
}
.containerForForm {
  border: solid 1px gray;
  width: 30%;
  height: 240px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
@media (min-width: 1000px) {
  .containerForForm {
    box-shadow: 0px 4px 4px 0px #bfbfbf;
    width: 30%;
    padding: 40px;
    margin: 20px;
    height: 300px;
  }
}
.formHead {
  font-family: 'roboto';
  font-size: 18px;
  color: #475569;
}
label {
  font-family: 'roboto';
  font-size: 12px;
  color: #7e858e;
  font-weight: 600;
}
.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}
#unique {
  width: 190px;
}
#unique1 {
  width: 190px;
}
#unique2 {
  width: 190px;
}
.buttonForm {
  background-color: #0b69ff;
  color: white;
  border: none;
  height: 26px;
  width: 50px;
  border-radius: 06px;
  margin-top: 20px;
}

.bothContainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .bothContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.lastContainer {
  border: solid 1px gray;
  width: 30%;
  min-height: 240px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
@media (min-width: 1000px) {
  .lastContainer {
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    width: 30%;
    padding: 20px;
    margin-left: 30px;
    width: 350px;
    min-height: 300px;
    padding: 40px;
  }
}
.transactions-table {
  padding-left: 0;
  margin: 0px;
}
.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  height: 48px;
  border: 1px solid #cbd5e1;
  padding-left: 30px;
  padding-right: 10px;
}
.table-header-cell {
  color: #334155;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}
