.table-header-cell {
  color: #7e858e;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}

button {
  background-color: transparent;
  border: none;
}
.delete-Button {
  height: 20px;
  width: 20px;
}
